<div class="contenedor">

  <h2>Historial de tus publicaciones</h2>

  <div *ngIf="cargando">Cargando historial...</div>

  <div *ngIf="vacio && !cargando" class="vacio">
    No hay historial disponible.
  </div>

  <ul *ngIf="!cargando && historial.length > 0">
    <li *ngFor="let evento of historial">
      <div class="evento">
        <strong>{{ evento.producto.titulo }}</strong>
        <p>{{ evento.accion }} → {{ evento.estado }}</p>
        <small>{{ evento.fechaRegistro | date:'short' }}</small>
      </div>
    </li>

  </ul>
      <button class="btn-volver" (click)="volver()">⬅ Volver</button>

</div>
