.footer {
    width: 100%;
    background-color: #38355d;
    color: #fff;
    padding-top: 20px;
    margin-top: 40px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    text-align: left;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h3,
  .footer-section h4 {
    color: white;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #13162c;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #13162c;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #444;
    font-size: 14px;
  }
  